#hits{
  margin: 120px 0 50px;

  #hitsLabel{
    color: #ff0000;
    text-align: center;
    padding: 8px;
    font-family: Aharoni, serif;
    font-size: 120%;
    font-style: oblique;
    border-top: 1px #820006 solid;
    border-bottom: 1px #820006 solid;
  }

  .products img{
    margin:50px 30px;
    width: 20%;
  }
}



