$light-red: #ff0000;
$white: #ffffff;
$dark-red: #bf0000;

#newsletter{
  form{
    font-family: Arial, serif;
    width: 80%;
    margin: 25px auto;
    padding-bottom: 80px;

    #newsletterLabel{
      font-size: 200%;
      width: 15%;
      float: left;
      color: #000000;
      font-weight: 800;
    }
  }
}

.inputGroup label{
  padding-left: 217px;
  position: absolute;
  top: 27px;
  left: 13px;
}


//.hasValue + label{
//top: 12px;
//font-size: 60%;
//color: #5c2fb4;
//border: 1px #000000 solid;
//}
