$light-red: #ff0000;
$burgundy: #820006;

#promotions{
  margin: 0 0 50px;

  #promotionLabel{
    color: #000000;
    text-align: center;
    padding: 8px;
    font-family: Aharoni, serif;
    font-size: 140%;
    font-style: oblique;
  }

  .products img{
    margin:50px 30px;
    width: 20%;
  }
}

